.btn {
    display: inline-block;
    background-color: $denary;
    padding: 5px 10px;
    color: $tertiary;
    border-radius: 5px;
    text-decoration: none;
    min-width: 150px;
    border: none;
}