.chat {
  width: 30%;
  border: 1px solid $denary;
}

.chat__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat__wrapper {
  display: flex;
  justify-content: space-between;
}

.chat__name {
  margin: 0;
  font-size: 16px;
}

.chat__date {
  font-size: 12px;
}

.chat__message {
  margin: 0;
  font-size: 10px;
  text-align: left;
}
