.modal {
  position: fixed;
  top: 50%;
  left: 50%;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.modal--nodisplay {
  display: none
}

.modal--display {
  display: block;
}
