.set__link {
  display: block;
  color: $denary;
  text-decoration: none;
  background-color: $secondary;
  width: 250px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: none;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  display: block;
  width: 100%;

  &--message {
    display: block;
    width: 100%;
  }
}

.set__input-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin: 0 auto;
}

.set__input {
  margin-bottom: 10px;
}

.set__item {
  display: flex;
  justify-content: space-between;
}
