<form class="form auth">
  {{> title label="Authorization" class="title auth__title" }}
  <div class="auth__input-wrapper">
    {{> input label="Login" classInput="input auth__input auth__input--login" classLabel="label auth__label"
    name="login" type="text" id="auth_login"}}
    {{> input label="Password" classInput="input auth__input auth__input--pass" classLabel="label auth__label"
    name="password" type="password" id="auth_pass"}}
  </div>
  <div class="auth__btn-wrapper">
    {{> link label="Sign In" class="btn btn--sign" link="./chats.hbs" }}
    {{> link label="Registration" class="btn btn__link btn__link--reg" link="./reg.hbs"}}
    {{> link label="404" class="error" link="./404.hbs" }}
    {{> link label="500" class="error" link="./500.hbs" }}

  </div>
</form>