<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Учебный проект: страница ошибки</title>
</head>

<body>
  <div class="error">
    {{> title label="404" class="error__title" }}
    {{> link label="Start page" class="error__link" link="./index.hbs" }}
  </div>

</body>

</html>